// IMPORTS:

@import "node_modules/normalize.css/normalize";

// FONTS:

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-extrabold.woff2") format("woff2"),
    /* Modern browsers */ url("../fonts/manrope-extrabold.woff") format("woff"),
    /* Legacy browsers */ url("../fonts/manrope-extrabold.otf")
      format("truetype"); /* Android, iOS */
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-bold.woff2") format("woff2"),
    url("../fonts/manrope-bold.woff") format("woff"),
    url("../fonts/manrope-bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-semibold.woff2") format("woff2"),
    url("../fonts/manrope-semibold.woff") format("woff"),
    url("../fonts/manrope-semibold.otf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-medium.woff2") format("woff2"),
    url("../fonts/manrope-medium.woff") format("woff"),
    url("../fonts/manrope-medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-regular.woff2") format("woff2"),
    url("../fonts/manrope-regular.woff") format("woff"),
    url("../fonts/manrope-regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-light.woff2") format("woff2"),
    url("../fonts/manrope-light.woff") format("woff"),
    url("../fonts/manrope-light.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-thin.woff2") format("woff2"),
    url("../fonts/manrope-thin.woff") format("woff"),
    url("../fonts/manrope-thin.otf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

// TYPO:

.h1 {
  font-size: 7vw;
  margin: 0;
}

.h2 {
  font-size: 2.2vw;
  line-height: 3.2vw;
  font-weight: 400;
  letter-spacing: 0.07vw;
  margin: 0;
}

.h2--mobile {
  display: none;
}

.h3 {
  font-size: 1.4vw;
  line-height: 2.1vw;
  letter-spacing: 0.07vw;
  font-weight: 600;
  margin: 0;
}

.h4 {
  font-size: 1.5vw;
  line-height: 2.1vw;
  margin: 0;
}

.h5 {
  font-size: 1.3vw;
}

.h6 {
  font-size: 0.9vw;
  margin: 0;
}

.p {
  font-size: 1.1vw;
  margin: 0;

  .bold {
  }
}

.bold {
}

strong {
  font-weight: 800;
}

// GLOBAL:

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font-family: "Manrope", sans-serif;
}

// GRID:

.left-column {
  position: fixed;
  left: 2vw;
  top: 2vw;
  bottom: 2vw;
  width: 23vw;
  padding: 2vw 1vw;
}

.right-column {
  margin-left: 25vw;
  width: 73vw;
}

// LAYOUT:

.mobile-bar {
  display: none;
}

.section {
  width: 100%;
  //display: flex;
  width: 100%;
  //min-height: 100vh;
  align-items: center;
  border: 1px solid transparent;
  position: relative;
}

.flex-container {
  display: flex;

  &--space-between {
    @extend .flex-container;
    justify-content: space-between;
  }
}

.frame {
  border: 2vw solid #4b4b4b;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.frame-content {
  padding: 2vw 2vw 2vw 0;
}

// NAV

.main-logo {
  padding-left: 2vw;
  margin-top: 2vw;
  width: 12vw;
}

.nav {
  border-left: 2px solid black;
  margin-left: 2vw;
  padding-left: 2vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &-item {
    font-size: 1.5vw;
    padding: 0;
    margin: 2vw 0;
    letter-spacing: 0.1vw;
    position: relative;

    &:after {
      content: "";
      width: 0;
      position: absolute;
      height: 1vw;
      background-color: #b0c9ce;
      left: 0;
      z-index: -1;
      bottom: 0;
      transition: width 300ms ease-in-out;
    }

    &:hover {
      opacity: 0.75;
    }

    a {
      text-decoration: none;
      color: black;
    }

    &.active {
      font-weight: 700;

      &:after {
        width: 100%;
      }
    }
  }
}

// SECTION HELLO:

.section-hello {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5vw;
}

.hello-box {
  width: 43vw;
  background-color: white;
  padding: 5vw 3vw;
  z-index: 9;
  position: relative;
}

.hello-img {
  width: 40vw;
  position: absolute;
  top: 0;
  z-index: 6;
  left: -30%;
  top: 50%;
  transform: translateY(-50%);
}

.hello-right-box {
  background-color: #ccdee2;
  right: 0;
  position: relative;
  height: 100%;
  top: 0;
  width: 52vw;
  padding: 11vw 0;
}

.hello-box-wrap {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.hello-back-box {
  background-color: #b0c9ce;
  position: absolute;
  right: 0;
  width: 55%;
  height: 100%;
  top: 17%;
  left: 57%;
}

.hello-o {
  position: absolute;
  bottom: -20px;
  right: 70px;
}

.hello-x {
  position: absolute;
  top: 20%;
  left: 0;
}

.hello-box-border {
  width: 10vw;
  height: 2px;
  background-color: black;
  margin-bottom: 2vw;
}

// SECTION ABOUT:

.section-about {
  margin-bottom: 5vw;
}

.about-box-header {
  background-color: #fdeecf;
  text-align: center;
  padding: 3vw;
  margin-left: 3%;
  position: relative;
  //margin-top: 3vw;
}

.about-flex-container {
  margin-left: 3%;
  margin-right: 6%;
}

.about-box {
  background-color: #fff6e5;
  padding: 2vw 3vw;
  text-align: center;
  width: 30%;
  margin: 5vw 0;
}

.about-img {
  width: 40vw;
  position: absolute;
  right: 0;
  z-index: -1;
}

.about-o {
  position: absolute;
  left: -20px;
  top: -20px;
  z-index: -1;
}

.about-icon-img {
  margin-bottom: 0.5vw;
}

// SECTION OFFER:

.offer-right-box {
  background-color: #e5eff0;
  width: 27vw;
  position: absolute;
  right: 0;
  height: 100%;
  z-index: -1;
}

.offer-box-header {
  background-color: #b0c9ce;
  padding: 3vw;
  margin-top: 3vw;
}

.offer-images-container {
  position: relative;
  width: 50%;
}

.procent-img {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.7;
}

.laptop-img {
  width: 100%;
}

.offer-x {
  position: absolute;
  top: -35px;
  right: 10vw;
}
.offer-list {
  list-style-type: none;

  margin: 2vw 0;
  padding: 0;
  padding: 0 3vw;
  width: 50%;
  li {
    margin: 2vw 0;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: black;
      top: 50%;
      left: -10%;
    }
  }

  .p {
    line-height: 1.7vw;
    font-weight: 400;
  }
}

.section-offer {
  margin-bottom: 5vw;
}

.offer-list .p {
  line-height: 2vw;
}

// SECTION EXP:

.section-exp {
  margin-bottom: 5vw;
}

.exp-container {
  margin: 0 6% 0 0;
  height: 45vw;
  position: relative;
}

.exp-box {
  text-align: center;
  padding: 3vw 0;
  position: relative;
  width: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &-1 {
    background-color: rgba(176, 201, 206, 0.5);
    //opacity: 0.5;
    height: 50%;
    top: 0;
    left: 0;
  }

  &-2 {
    background-color: #fdeecf;
    bottom: 0;
    left: 0;
    height: 50%;
  }

  &-3 {
    background-color: #fff6e5;
    // /opacity: 0.5;
    right: 0;
    top: 0;
    height: 33.3%;
  }

  &-4 {
    background-color: #b0c9ce;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    height: 33.3%;
  }

  &-5 {
    background-color: rgba(215, 228, 231, 0.4);
    //opacity: 0.4;
    bottom: 0;
    right: 0;
    height: 33.3%;
  }
}

.exp-o {
  position: absolute;
  top: -20px;
  right: -20px;
}

.exp-x {
  position: absolute;
  bottom: 30px;
  left: -30px;
}

// SECTION CLIENTS:

.clients-box-header {
  background-color: #b0c9ce;
  margin-top: 5vw;
  text-align: center;
  padding: 3vw;
}

.clients-right-box {
  background-color: #e5eff0;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  width: 33vw;
  top: 0;
  height: 100%;
  z-index: -1;
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;

  .client-logo {
    //border: 1px solid blue;
    width: 10vw;
    margin: 0 1vw;
  }
}

// SECTION CONTACT:

.section-contact {
  margin-bottom: 5vw;
}

.contact-container {
  margin: 0 6% 0 0;
  height: 35vw;
  position: relative;
}

.contact-addresses-container {
  display: flex;
  flex-wrap: wrap;
  //padding: 3vw 0;
  position: relative;
  justify-content: space-between;
}

.address-wrap {
  width: 48%;
  margin-bottom: 2vw;
}

.contact-x {
  position: absolute;
  bottom: -30%;
  right: 100px;
}

.contact-box {
  position: absolute;
  width: 50%;
  display: flex;
  align-items: center;
  //justify-content: center;

  .p {
    line-height: 1.6vw;
  }

  .p-header {
    opacity: 0.6;
    font-weight: 700;
    margin-bottom: 0.5vw;
  }

  &-1 {
    background-color: #fdeecf;
    top: 0;
    left: 0;
    height: 30%;
    padding: 0 3vw;
  }

  &-2 {
    background-color: rgba(253, 238, 207, 0.5);
    bottom: 0;
    left: 0;
    height: 70%;
    padding: 0 3vw;
  }

  &-3 {
    background-color: rgba(253, 238, 207, 0.5);
    bottom: 0;
  }

  &-4 {
    background-color: rgba(253, 238, 207, 0.5);
    bottom: 0;
  }

  &-5 {
    padding: 0;
    top: 0;
    right: 0;
    height: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  &-6 {
    background-color: #b0c9ce;
    bottom: 0;
    right: 0;
    height: 50%;
    justify-content: center;
  }
}

.contact-el-wrap {
  display: flex;
  align-items: center;

  .h4 {
    font-weight: 800;
  }
}

.email-img {
  margin-right: 2vw;
  width: 4vw;
}

.phone-img {
  margin-right: 2vw;
  width: 4vw;
}

@media (max-width: 1000px) {
  .h1 {
    font-size: 19vw;
    margin: 5vw 0;
  }

  .h2 {
    font-size: 6vw;
    line-height: 10vw;
  }

  .h3 {
    font-size: 5vw;
    line-height: 7vw;
  }

  .h4 {
    font-size: 5vw;
    line-height: 8vw;
    font-weight: 800;
  }

  .h6 {
    font-size: 4vw;
    line-height: 6vw;
  }

  .p {
    font-size: 5vw;
    line-height: 5vw;
  }

  .h2--mobile {
    display: inline-block;
    position: relative;
    margin: 3vw 0 20vw 5vw;
    font-weight: 700;
    font-size: 7vw;

    &:after {
      content: "";
      width: 105%;
      position: absolute;
      height: 3vw;
      background-color: #b0c9ce;
      left: 0;
      z-index: -1;
      bottom: 5%;
    }


  }

  .frame-content {
    padding: 0;
  }

  .left-column {
    display: none;
  }

  .right-column {
    width: 100vw;
    margin: 60px 0 0 0;
  }

  .section {
    margin-bottom: 30vw;
  }

  .frame {
    display: none;
  }

  .mobile-bar {
    display: block;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: white;
    top: 0;
    box-shadow:0px 1px 1px 1px rgba(0,0,0,0.3);


  }

  .mobile-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 3vw;
  }

  .main-logo {
    width: 80px;
    margin: 0;
    padding: 0;
  }

  .hamburger {
    width: 34px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .hamburger-line {
    height: 5px;
    width: 100%;
    background-color: black;
  }

  .hamburger-line--middle {
    width: 85%;
  }

  .mobile-nav {
    background-color: white;
    display: none;
    margin: 0;
    padding: 0;

    .nav-item {
      font-size: 5vw;
      line-height: 7vw;
    }

    &.active {
      display: block;
    }
  }

  .nav-list-mobile {
    padding: 5vw 0;
    margin: 0;
    box-shadow:0px 1px 1px 1px rgba(0,0,0,0.3);

    .nav-item {
      margin: 0;
      padding: 3vw 5vw;

      &:after {
        display: none;
      }
    }
  }


  // HELLO

  .section-hello {
    overflow: hidden;
  }

  .section-hello .h2--mobile {
    position: absolute;
    top: 10vw;
    left: 0;
    z-index: 999;
  }

  .hello-x {
    display: none;
  }

  .hello-right-box {
    width: 70vw;
    height:180vw;
    padding: 50vw 0;
  }

  .hello-box {
    width: 83vw;
    padding: 10vw;
  }

  .hello-box-wrap {
    left: -25vw;
  }

  .hello-o {
    bottom: 5vw;
    left: 13vw;
    z-index: 99;
    width: 10vw;
  }

  .hello-img {
    width: 100%;
    position: static;
    transform: none;
  }

  .hello-img-wrap {
    position: absolute;
    left: -130%;
    top: 35vw;
    width: 130vw;
    height: 100vw;
  }

  .hello-back-box {
    left: 77.1%;
    width: 100%;
    top: 20%;
    height: 90%;
  }

  // ABOUT

  .about-box-header {
    padding: 11vw 5vw;
    margin-left: 6%;
    margin-bottom: 15vw;

  }

  .about-o {
    left: -5%;
    top: 82%;
    width: 10vw;
  }

  .about-flex-container {
    display: block;
    margin: 0;
    padding: 0 6vw;
  }

  .about-box {
    width: 100%;
    padding: 15vw 0;
    margin: 7vw 0;
  }

  .about-img {
    display: none;
  }

  // OFFER

  .offer-x {
    top: -10%;
    width: 15vw;
  }

  .offer-box-header {
    padding: 11vw 5vw;
  }

  .flex-container--space-between {
    flex-wrap: wrap;
  }

  .offer-list {
    width: 100%;
    order: 2;

    li {
      margin: 5vw 0 0 8vw;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: black;
        top: 50%;
        left: -8%;
      }
    }
  }

  .offer-list .p {
    font-size: 4vw;
    line-height: 6vw;
  }

  .offer-images-container {
    width: 100%;
    order: 1;
  }

  .offer-right-box {
    display: none;
  }

  .procent-img {
    width: 30vw;
  }

  // EXP

  .exp-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .exp-box {
    display: flex;
    align-items: center;
    position: static;
    width: 100%;
    transform: none;
    height: auto;
    padding: 10vw;
    margin: 0 6vw;
    min-height: 80vw;
  }

  .exp-x {
    display: none;
  }

  .exp-o {
    display: none;
  }

  // CONTACT

  .contact-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .contact-box {
    position: static;
    height: auto;
    width: 100%;
  }

  .contact-box-6 {
    order: 1;
    justify-content: flex-start;
    padding: 15vw 5vw;
  }

  .phone-img {
    width: 13vw;
    margin-right: 5vw;
  }

  .email-img {
    width: 13vw;
    margin-right: 5vw;
  }

  .contact-box-5 {
    order: 2;
  }
  .contact-box-4 {

  }

  .contact-box-3 {

  }

  .contact-box-2 {
    order: 4;
    padding: 15vw 5vw;
  }

  .contact-box-1 {
    order: 3;
    padding: 15vw 5vw;
  }

  .contact-x {
    top: -19%;
    left: 80%;
    width: 15vw;
  }

  .address-wrap {
    width: 100%;
    margin-bottom: 10vw;
  }

  .contact-box .p {
    line-height: 8vw;
  }

  .contact-box .p-header {
    font-size: 4vw;
  }

  .contact-box .p-header br {
    display: none;
  }
}
